.settings{
    margin-bottom: 10px;
    padding: 8px 10px;
    border: 1px solid #c10000;
    box-shadow: inset 0 0 10px 1px #ff3b3b;
    background-color: rgb(212, 183, 30);

	&__row{
		margin-bottom: 10px;
	}

	&__label{
		font-family: 'FortunataCYR';
		font-size: 18px;
		color: #000000;
		margin-bottom: 4px;
	}

	&__select{
		width: 100%;
		font-family: 'FortunataCYR';
		font-size: 18px;
		padding: 4px 6px;
		border: 2px outset #795548;
		background-color: rgba(158, 114, 0, 0.9);
		outline: none;
	}

	&__range{
		width: 100%;
	}
}
