# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/build

# misc
.idea/*
src/.idea/*
.eslintcache

src/assets/sounds/temp/*
src/assets/img/temp/*
/src/assets/music/temp
/src/assets/sounds/temp
