.gameDisplay{

    &__header{
        height: 50px;
        background-color: rgb(113 63 4);
        border: 10px solid #391302;
        box-shadow: inset 0 0 1px #000000;
        display: flex;
    }

    &__canvas{ 
        width: 100%;
        position: relative;
        z-index: 10;
    }
}