.gameDisplay{

    &__header{
        height: 50px;
        background-color: rgb(165 105 34);
        border: 10px solid #822900;
        box-shadow: inset 0 0 1px #000000;
        display: flex;
    }

    &__canvas{ 
        width: 100%;
        position: relative;
        z-index: 10;
    }

    &__menuButton{
        margin-left: auto;
        margin-top: 10px;
        margin-right: 10px;
        padding: 0 10px;
        font-family: "FortunataCYR";
        font-size: 24px;
        height: 30px;
        background-color: #dba500;
        border: 3px dotted #460d0d;
        color: #3b0000;
        cursor: pointer;

        &:hover{
            background-color: #f6b800;
            color: rgb(122, 0, 0);
        }

        &:active{
            background-color: rgb(163, 122, 0);
            color: rgb(79, 0, 0);
        }
    }
}